body {
    max-width: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

p.about {
    color: black;
    font-size: 50px;
    text-align: center;
}

p.aboutform {
    color: black;
    font-size: 23px;
}

a.links {
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
}
